<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.755539045758-ncuvk7q2ra6ic36aa0ev4s0t2bobn7e4</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb221690654159353</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>FacebookAppID</key>
	<string>221690654159353</string>
	<key>FacebookClientToken</key>
	<string>5b0d7ec6fd2d317825922fdb4f818587</string>
	<key>FacebookDisplayName</key>
	<string>tatvic e-store</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>SweaterAppPrefix</key>
	<string>$(SWEATER_APP_BUNDLE_PREFIX)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchImageFile</key>
	<string></string>
</dict>
</plist>
