<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>CLIENT_ID</key>
	<string>755539045758-ncuvk7q2ra6ic36aa0ev4s0t2bobn7e4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755539045758-ncuvk7q2ra6ic36aa0ev4s0t2bobn7e4</string>
	<key>API_KEY</key>
	<string>AIzaSyC3lMZpZAbKR-8We-QDfj_E5r9zGlvoj4k</string>
	<key>GCM_SENDER_ID</key>
	<string>755539045758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tatvic.tatvicestore</string>
	<key>PROJECT_ID</key>
	<string>tatvicestore</string>
	<key>STORAGE_BUCKET</key>
	<string>tatvicestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:755539045758:ios:a7e73f3de953566b87972f</string>
</dict>
</plist>
